services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # DataFixtures 在测试环境中注册
    Tourze\TopicActivityBundle\DataFixtures\:
        resource: '../../DataFixtures/'



